<style type="text/css">
  .bundle-sign {
    display: inline-block;
    margin: 40px 13px 0 13px;
  }
  .bundle-product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 163px;
  }
  .del_mark {
    color: #EB5434;
    font-size: 12px;
    font-weight: bold;
  }
  .plus_sign{
    display: inline;
    float: left;
    width: 5%;
  }
  @media only screen and (max-width: 640px) {
    .bundle_container {
      width: auto;
      display: unset !important;
    }
    .plus_sign{
      width: 5%;
      display: inline-flex;
      vertical-align: middle;
      margin-top: -45%;
    }
}
</style>
{% if (bundle_products) %}
<div class="panel panel-default" style="clear:both;">
    <div class="panel-heading"><b>{{ bundle_page_title }}</b></div>
    <div class="panel-body">
      <div class="panel panel-default">
          <div class="panel-body">
            <p>{{ bundle_page_description }}</p>
          </div>
      </div>
    {% for bundles in bundle_products %}
    <div class="panel panel-default">
      <div class="panel-heading"><b>{{ bundles['name'] }}</b></div>
          <div class="panel-body">
              <div class="bundle_container">
                 {% for bundle in bundles['bundles'] %}
                    <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12" style="padding:5px;margin-bottom:15px;">
                        <div class="product-thumb">
                            <div class="text-center">
                                {% if (bundle['minimum'] is defined and bundle['minimum'] > 1) %}
                                  <span class="bundle_quantity">{{ bundle['minimum'] }}x</span>
                                {% endif %}

                                <a href="{{ bundle['href'] }}">
                                   {% if (bundle['thumb']) %}
                                    <img src="{{ bundle['thumb'] }}" alt="{{ bundle['name'] }}"
                                    title="{{ bundle['name'] }}" class="bundle-thumb"/>
                                  {% endif %}
                                </a>
                                <h4><a href="{{ bundle['href'] }}">{{ bundle['name'] }}</a></h4>
                                {% if (bundle['price']) %}<p>{{ bundle['price'] }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- <div class="product-layout product-grid col-lg-2 col-md-3 col-sm-4 col-xs-12 plus_sign"> -->
                      <div class="plus_sign">
                        {% if (bundles['bundles']|last != bundle) %}
                          <h1>+</h1>
                        {% else %}
                          <h1>=</h1>
                        {% endif %}
                    </div>
                 {% endfor %}
              </div>
            <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-12">
              <div class="product-thumb">
                <div class="text-center">
                    <div class="bundle-thumb">
                      {% if (bundles['units_status'] is defined and bundles['units_status']) %}
                        <h4><span class="bundle_units">Available Unit(s): {{ bundles['units'] }}</span></h4>
                      {% endif %}

                      <h4><span class="bundle_total_price">{{ text_price }}</span></h4>
                      {% if (bundles['check_discount']) %}
                        <h4><span class="bundle_total_price"><del class="del_mark">{{ bundles['total'] }}</del></span></h4>
                      {% endif %}
                      <h4><span class="bundle_total_price">{{ bundles['price'] }}</span></h4>

                      {% if (bundles['discount_option']) %}
                        <h4><span class="bundle_discount">{{ text_save }}{{ bundles['discount'] }}</span></h4>
                      {% else %}
                        <h4><span class="bundle_discount">{{ text_save }}{{ bundles['discount_per'] }}</span></h4>
                      {% endif %}

                      <div style="margin-bottom:5px;">
                        <a href="{{ bundles['bundle_href'] }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></a>
                      </div>
                    </div>
            </div>
          </div>
        </div>
</div>
</div>
{% endfor %}
{# for bundle product list #}
</div><!--end of main panel body-->
</div><!--end of main panel-->
{% endif %}

<script type="text/javascript">
  $(document).ready(function(){
    $('.bundle_container').find('.clearfix').remove();
  })
</script>
