{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-cod" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if error_merchant %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_merchant }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if error_salt %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_salt }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payu" class="form-horizontal">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-status" data-toggle="tab">{{ tab_order_status_payubiz }}</a></li>
          </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-general"> 
          <div class="table-responsive">
		  <table class="table">
			<thead>
				<tr>
					<th><label class="control-label"><span data-toggle="tooltip" title="{{ help_merchantid }}">{{ entry_merchantid }}</span></label></th>
					<th><label class="control-label"><span data-toggle="tooltip" title="{{ help_salt }}">{{ entry_salt }}</span></label></th>
					<th><label class="control-label"><span data-toggle="tooltip" title="{{ help_currency }}">{{ entry_currency }}</span></label></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="currency_list">
				<tr>
					<td>
						<input type="text" name="payment_payu_sainent_merchantid1" value="{{ payment_payu_sainent_merchantid1 }}" placeholder="{{ entry_merchantid1 }}" id="input-merchant" class="form-control" />
					</td>
					<td>
						<input type="text" name="payment_payu_sainent_salt1" value="{{ payment_payu_sainent_salt1 }}" placeholder="{{ entry_salt1 }}" id="input-salt" class="form-control" />
					</td>
					<td>
						<input type="text" name="payment_payu_sainent_currency1" value="{{ payment_payu_sainent_currency1 }}" placeholder="{{ entry_currency1 }}" id="input-currency" class="form-control" />
					</td>
					<td></td>
				</tr>
				{% for key, merchantid in payment_payu_sainent_merchantid %}
				<tr id="currency-row{{ key }}">
					<td><input type="text" name="payment_payu_sainent_merchantid[]" value="{{ payment_payu_sainent_merchantid[key] }}" placeholder="{{ entry_merchantid }}" id="input-merchant" class="form-control" /></td>
					<td><input type="text" name="payment_payu_sainent_salt[]" value="{{ payment_payu_sainent_salt[key] }}" placeholder="{{ entry_salt }}" id="input-salt" class="form-control" /></td>
					<td><input type="text" name="payment_payu_sainent_currency[]" value="{{ payment_payu_sainent_currency[key] }}" placeholder="{{ entry_currency }}" id="input-currency" class="form-control" /></td>
					<td><button type="button" onclick="$('#currency-row{{ key }}').remove()" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td><td></td><td></td>
					<td>
						<button type="button" class="btn btn-primary" onclick="addcurrency();"><i class="fa fa-plus"></i></button>
					</td>
				</tr>
			</tfoot>
		  </table>
		  </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-test">{{ entry_test }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_test" id="input-test" class="form-control">
			  {% if payment_payu_sainent_test == 'live' %}
                <option value="live" selected="selected">{{ text_live }}</option>
			  {% else %}
                <option value="live">{{ text_live }}</option>
              {% endif %}
              {% if payment_payu_sainent_test == 'demo' %}
                <option value="demo" selected="selected">{{ demo }}</option>
              {% else %}
                <option value="demo"> {{ demo }}</option>
              {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_payu_sainent_total" value="{{ payment_payu_sainent_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
            </div>
          </div>
         
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
					{% if geo_zone.geo_zone_id == payment_payu_sainent_geo_zone_id %}
					<option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
					{% else %}
					<option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
					{% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_status" id="input-status" class="form-control">
                {% if payment_payu_sainent_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
				{% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %}
              </select>
            </div>
          </div> 
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-pg">{{ entry_pg }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_payment_gateway" id="input-pg" class="form-control">
                {% if payment_payu_sainent_payment_gateway == 'payu_paisa' %}
				<option value="">{{ PayUbiz }}</option>
                <option value="payu_paisa" selected="selected">{{ PayUMoney }}</option>
                {% else %}
				<option value="" selected="selected">{{ PayUbiz }}</option>
                <option value="payu_paisa">{{ PayUMoney }}</option>
				{% endif %}
              </select>
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_payu_sainent_sort_order" value="{{ payment_payu_sainent_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-status">
            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_captured_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_captured_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_captured_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_auth_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_auth_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_auth_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

             <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_bounced_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_bounced_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_bounced_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_dropped_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_dropped_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_dropped_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_failed_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_failed_order_status_id" id="input-order-status" class="form-control">
                {% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_failed_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_user_cancelled_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_user_cancelled_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_user_cancelled_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_cancelled_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_cancelled_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_inprogress_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_inprogress_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_inprogress_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_initiated_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_initiated_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_initiated_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_auto_refund_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_auto_refund_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_auto_refund_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-order-status">{{ entry_pending_order_status }}</label>
            <div class="col-sm-10">
              <select name="payment_payu_sainent_pending_order_status_id" id="input-order-status" class="form-control">
				{% for order_status in order_statuses %}
					{% if order_status.order_status_id == payment_payu_sainent_pending_order_status_id %}
					<option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
					{% else %}
					<option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
					{% endif %}
				{% endfor %}
              </select>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
var currency_row = 1;
function addcurrency(){
	html_row = '<tr id="currency-row-'+currency_row+'"><td>';
	html_row += '<input type="text" name="payment_payu_sainent_merchantid[]" value="" placeholder="{{ entry_merchantid }}" id="input-merchant" class="form-control" />';
	html_row += '</td><td>';
	html_row += '<input type="text" name="payment_payu_sainent_salt[]" value="" placeholder="{{ entry_salt }}" id="input-salt" class="form-control" />';
	html_row += '</td><td>';
	html_row += '<input type="text" name="payment_payu_sainent_currency[]" value="" placeholder="{{ entry_currency }}" id="input-currency" class="form-control" />';
	html_row += '</td><td>';
	html_row += '<button type="button" onclick="$(\'#currency-row-' + currency_row + '\').remove()" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>';	
	html_row += '</td></tr>';
	
	$('#currency_list').append(html_row);
	currency_row++;
}

//--></script> 
{{ footer }} 