{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
  <div class="container-fluid">
  <div class="pull-right">
         <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
 
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
  </ul>
  </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
  </div>
  <form action="{{ action }}" method="post" enctype="multipart/form-data" name="form-pumcp" id="form-pumcp" class="form-horizontal">
 <div class="box">
  <!--// PayU //-->
  <div class="heading">
       <h1><img src="view/image/payment/payulogo.png" alt="PayUbiz" height="40" /></h1>
   </div>
 <div class="content">
  <div class="panel-body">
        <div class="col-sm-10"> 
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-merchant"><span data-toggle="tooltip" title="{{ help_merchant }}">{{ entry_merchant }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_pumcp_payu_merchant" value="{{ payment_pumcp_payu_merchant }}" placeholder="{{ entry_merchant }}" id="payment_pumcp_payu_merchant" class="form-control" />
              {% if error_merchant %} 
              <div class="text-danger">{{ error_merchant }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-salt"><span data-toggle="tooltip" title="{{ help_salt }}">{{ entry_salt }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_pumcp_payu_salt" value="{{ payment_pumcp_payu_salt }}" placeholder="{{ entry_salt }}" id="payment_pumcp_payu_salt" class="form-control" />
              {% if error_salt is not empty %}
              <div class="text-danger">{{ error_salt }}</div>
              {% endif %}
            </div>
          </div>


      </div>
     </div>
     </div>
    <!--// PayU End //-->
</div>
<hr />
 <!--// Common Settings //-->
 <div class="box">
 <div>&nbsp;</div>
 <div class="heading">
       <h3>General Settings</h3>
   </div>
 <div class="content">
  <div class="panel-body">
        <div class="col-sm-10"> 
        	<div class="form-group">
            <label class="col-sm-2 control-label" for="input-total">{{ entry_module }}</label>
              <div class="col-sm-10">
                  <select name="payment_pumcp_module" id="payment_pumcp_module" class="form-control">
				  	{% set ms = entry_module_id|split('|') %}
                    {% for m in ms %}
                    	{% if payment_pumcp_module == m %}
                    		<option value="{{ m }}" selected>{{ m }}</option>
                    	{% else %}
                       		<option value="{{ m }}">{{ m }}</option>
                    	{% endif %}
					{% endfor %}
                  </select>
              </div>
              {% if error_module %}
                  <span class="error">{{ error_module }}</span>
              {% endif %}
            </div> 
         
         <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_pumcp_geo_zone_id" id="payment_pumcp_geo_zone_id" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                {% if geo_zone.geo_zone_id == payment_pumcp_geo_zone_id %}
                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                {% else %}
                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          
           <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_currency }}">{{ entry_currency }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_pumcp_currency" value="{{ payment_pumcp_currency }}" placeholder="{{ entry_currency }}" id="payment_pumcp_currency" size="8" maxlength="3" class="form-control" />
              {% if error_currency %}
                  <div class="text-danger">{{ error_currency }}</div>
              {% endif %}
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_pumcp_total" value="{{ payment_pumcp_total }}" placeholder="{{ entry_total }}" id="payment_pumcp_total" class="form-control" />
            </div>
          </div>
          
          <!--order_status-->
          
          <div class="form-group">
             <label class="col-sm-2 control-label" for="input-total">{{ entry_order_status }}</label>
               <div class="col-sm-10">
                 <select name="payment_pumcp_order_status_id" id="payment_pumcp_order_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_pumcp_order_status_id %}
                      <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					{% else %}
                      <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
               </div> 
          </div>
          
          <!--order_status-->          
          
          <!--order_fail_status-->
          
          <div class="form-group">
             <label class="col-sm-2 control-label" for="input-total">{{ entry_order_fail_status }}</label>
               <div class="col-sm-10">
                 <select name="payment_pumcp_order_fail_status_id" id="input-status" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_pumcp_order_fail_status_id %}
                      <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %}
                      <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %}
                    {% endfor %}
                 </select>
               </div> 
          </div>
          
          <!--order_fail_status-->    
          
          <div class="form-group">
              <label class="col-sm-2 control-label" for="input-total">{{ entry_status }}</label>
                 <div class="col-sm-10">
                   <select name="payment_pumcp_status" id="input-status" class="form-control">
                      {% if payment_pumcp_status == true %}
                         <option value="1" selected="selected">{{ text_enabled }}</option>
                         <option value="0">{{ text_disabled }}</option>
                      {% else %}
                         <option value="1">{{ text_enabled }}</option>
                         <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                   </select>
                   {% if error_status %}
                	<div class="text-danger">{{ error_status }}</div>
            	 	{% endif %}
                 </div>                  
          </div>
          
          <div class="form-group">
               <label class="col-sm-2 control-label" for="input-total">{{ entry_sort_order }}</label>
               	 <div class="col-sm-10">
                      <input type="text" name="payment_pumcp_sort_order" value="{{ payment_pumcp_sort_order }}"  id="input-sort-order"class="form-control"size="1" />
                 </div>
          </div>  
         
 		</div>
  </div>
 </div>
 </div> 
   <!--// Common Settings End //-->
<hr />
</form>

{{ footer }}