  .margin_box {
   margin:10px;
  }

  .panel-heading{
    background-color: #ebebeb;
    color: #919191;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
  }
  .container .plus_sign {
    text-align: center;
}
.bundle_quantity {
    background-color: #ee3313;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    left: -2px;
    line-height: 34px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 34px;
    z-index: 99;
}
.product-thumb {
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) and (min-width: 360px) { 
  .product-thumb {
    width:auto;
    min-height: auto;
  }

}

@media screen and (max-width: 319px) and (min-width: 1px) { 
  .product-thumb .text-center h4 {
      font-size:10px;
  }
}