{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-account" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-account" class="form-horizontal">

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="module_wk_bundle_product_status" id="input-status" class="form-control">
                    {% if (module_wk_bundle_product_status) %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-per_page"><span data-toggle="tooltip" title="{{ entry_per_page_info }}">{{ entry_per_page }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="module_wk_bundle_product_per_page" value="{{ module_wk_bundle_product_per_page }}" placeholder="{{ entry_per_page }}" id="input-per_page" class="form-control" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-per_module"><span data-toggle="tooltip" title="{{ entry_per_module_info }}">{{ entry_per_module }}</span></label>
                  <div class="col-sm-10">
                    <input type="text" name="module_wk_bundle_product_per_module" value="{{ module_wk_bundle_product_per_module }}" placeholder="{{ entry_per_module }}" id="input-per_module" class="form-control" />
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-title"><span data-toggle="tooltip" title="{{ entry_title_info }}">{{ entry_title }}</span></label>
                  <div class="col-sm-10">
                      <input type="text" name="module_wk_bundle_product_title" value="{{ module_wk_bundle_product_title }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
                  </div>
              </div>


               <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-description"><span data-toggle="tooltip" title="{{ entry_description_info }}">{{ entry_description }}</span></label>
                  <div class="col-sm-10">
                    <textarea id="input-description" class="form-control" rows="5" name="module_wk_bundle_product_description">{{ module_wk_bundle_product_description is not empty? module_wk_bundle_product_description : '' }}</textarea>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript"><!--
    //$('#input-description').summernote({height: 200});
  </script>
<script type="text/javascript">

  $('input[name=\'add_product\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=module/wk_bundle_product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id'],
            quantity: item['quantity']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'add_product\']').val('');

    $('#product-add_product' + item['value']).remove();

    $('#product-add_product').append('<div id="product-add_product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '(Quantity : ' + item['quantity'] + ')<input type="hidden" name="product_add_product[]" value="' + item['value'] + '" /></div>');
  }
});
</script>
{{ footer }}
