{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-wk_bundle_product" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-wk_bundle_product" class="form-horizontal">

        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-title"><span data-toggle="tooltip" title="{{ entry_title_info }}">{{ entry_title }}</span></label>
          <div class="col-sm-10">
            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
            {% if (error_name) %}
                  <div class="text-danger">{{ error_name }}</div>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-add_product"><span data-toggle="tooltip" title="{{ entry_add_product_info }}">{{ entry_add_product }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="add" value="" placeholder="{{ entry_add_product }}" id="input-add_product" class="form-control" />
              <div id="product-add_product" class="well well-sm" style="height: 150px; overflow: auto;">
                {% if (list['product_ids'] is defined) %}
                {% for key,value in list['product_ids'] %}
                  <div id="product-add_product{{ value }}">
                  <i class="fa fa-minus-circle"></i>
                  {{ list['product_name'][value]~' (Quantity : '~list['quantaties'][value]~' and Price : '~list['prices'][value]~')' }}

                  <input type="hidden" name="list[product_ids][{{ value }}]" value="{{ list['product_ids'][value] }}" />

                  <input type="hidden" name="list[product_name][{{ value }}]" value="{{ list['product_name'][value] }}" />

                  <input type="hidden" name="list[quantaties][{{ value }}]" value="{{ list['quantaties'][value] }}" />

                  <input type="hidden" name="list[prices][{{ value }}]" value="{{ list['prices'][value] }}" />

                  </div>
                {% endfor %}
                {% endif %}
              </div>
              {% if (error_list) %}
                  <div class="text-danger">{{ error_list }}</div>
            {% endif %}
            </div>
        </div>

        <div class="form-group required">
          <label class="control-label col-sm-2" for="input-date"><span data-toggle="tooltip" title="{{ entry_date_info }}"> {{ entry_date }}</span></label>
          <div class="col-sm-5">
            <div class="input-group date">
            <input type="text" class="form-control" data-date-format="YYYY-MM-DD" placeholder="{{ text_from }}" name="valid_from" value="{{ valid_from }}" /><span class="input-group-btn "><button type="button" class="btn btn-default"><i class="fa fa-calendar "></i></button></span>
            </div>
            {% if (error_valid_from) %}
                  <div class="text-danger">{{ error_valid_from }}</div>
            {% endif %}
          </div>
          <div class="col-sm-5">
            <div class="input-group date">
              <input type="text" class="form-control" data-date-format="YYYY-MM-DD" placeholder="{{ text_to }}" name="valid_to" value="{{ valid_to }}" /><span class="input-group-btn "><button class="btn btn-default" type="button"><i class="fa fa-calendar "></i></button>/i></span>
            </div>
            {% if (error_valid_to) %}
                  <div class="text-danger">{{ error_valid_to }}</div>
            {% endif %}
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-unit_status"><span data-toggle="tooltip" title="{{ entry_unit_status_info }}">{{ entry_unit_status }}</span></label>
          <div class="col-sm-10">
            <select name="units_status" id="input-unit_status" class="form-control">
              {% if (units_status) %}
              <option value="1" selected="selected">{{ text_yes }}</option>
              <option value="0">{{ text_no }}</option>
              {% else %}
              <option value="0" selected="selected">{{ text_no }}</option>
              <option value="1">{{ text_yes }}</option>
              {% endif %}
            </select>
          </div>
        </div>

        <div class="form-group required">
          <label class="col-sm-2 control-label" for="input-units_avail"><span data-toggle="tooltip" title="{{ entry_units_avail_info }}">{{ entry_units_avail }}</span></label>
          <div class="col-sm-10">
            <input type="number" name="units" value="{{ units }}" placeholder="{{ entry_units_avail }}" class="form-control" id="input-units_avail" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-discount_option">{{ entry_discount_option }}</label>
          <div class="col-sm-10">
            <select name="discount_option" id="input-discount_option" class="form-control">
              {% if (discount_option) %}
              <option value="1" selected="selected">{{ text_fixed }}</option>
              <option value="0">{{ text_percentage }}</option>
              {% else %}
              <option value="0" selected="selected">{{ text_percentage }}</option>
              <option value="1">{{ text_fixed }}</option>
              {% endif %}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-discount"><span data-toggle="tooltip" title="{{ entry_discount_info }}">{{ entry_discount }}</span></label>
          <div class="col-sm-10">
            <input type="text" name="discount" value="{{ discount }}" placeholder="{{ entry_discount }}" class="form-control" id="input-discount" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-sort_order">{{ entry_sort_order }}</label>
          <div class="col-sm-10">
            <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" id="input-sort_order" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-current_status">{{ entry_current_status }}</label>
          <div class="col-sm-10">
            <select name="status" id="input-current_status" class="form-control">
              {% if (status) %}
              <option value="1" selected="selected">{{ text_enabled }}</option>
              <option value="0">{{ text_disabled }}</option>
              {% else %}
              <option value="0" selected="selected">{{ text_disabled }}</option>
              <option value="1">{{ text_enabled }}</option>
              {% endif %}
            </select>
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>
  </div>

  <script type="text/javascript">

    $('.date').datetimepicker({
      pickTime: false
    });

  </script>

  <script type="text/javascript">
  $('input[name=\'add\']').autocomplete({
    'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=wk_bundle_product/wk_bundle_product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id'],
            quantity: item['quantity'],
            price: item['price']
          }
        }));
      }
    });
    },
    'select': function(item) {
      $('input[name=\'add\']').val('');
      $('#product-add_product' + item['value']).remove();
      $('#product-add_product').append('<div id="product-add_product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + ' (Quantity : ' + item['quantity'] + ' and Price : ' + item['price'] +')<input type="hidden" name="list[product_ids]['+ item['value'] +']" value="' + item['value'] + '" /><input type="hidden" name="list[product_name]['+ item['value'] +']" value="' + item['label'] + '" /><input type="hidden" name="list[quantaties]['+ item['value'] +']" value="' + item['quantity'] + '" /><input type="hidden" name="list[prices]['+ item['value'] +']" value="' + item['price'] + '" /></div>');
    }
  });

  $('#product-add_product').delegate('.fa-minus-circle', 'click', function() {
  $(this).parent().remove();
});
  </script>
{{ footer }}
