{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-bundle_product').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if (success) %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-bundle_product">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                  <td class="text-left">{% if (sort == 'bundle_id') %}
                    <a href="{{ sort_bundle_id }}" class="{{ order|lower }}">{{ column_bundle_id }}</a>
                    {% else %}
                    <a href="{{ sort_bundle_id }}">{{ column_bundle_id }}</a>
                    {% endif %}
                  </td>

                  <td class="text-left">{% if (sort == 'name') %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}
                  </td>

                  <td class="text-left">{% if (sort == 'valid_from') %}
                    <a href="{{ sort_valid_from }}" class="{{ order|lower }}">{{ column_valid_from }}</a>
                    {% else %}
                    <a href="{{ sort_valid_from }}">{{ column_valid_from }}</a>
                    {% endif %}</td>

                    <td class="text-left">{% if (sort == 'valid_to') %}
                    <a href="{{ sort_valid_to }}" class="{{ order|lower }}">{{ column_valid_to }}</a>
                    {% else %}
                    <a href="{{ sort_valid_to }}">{{ column_valid_to }}</a>
                    {% endif %}</td>

                    <td class="text-right">{% if (sort == 'quantity') %}
                    <a href="{{ sort_quantity }}" class="{{ order|lower }}">{{ column_quantity }}</a>
                    {% else %}
                    <a href="{{ sort_quantity }}">{{ column_quantity }}</a>
                    {% endif %}</td>

                    <td class="text-left">{% if (sort == 'status') %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if (bundles is defined and bundles) %}
                {% for bundle_product in bundles %}
                <tr>
                  <td class="text-center">
                    {% if selected in bundle_product['bundle_id']|keys %}
                    <input type="checkbox" name="selected[]" value="{{ bundle_product['bundle_id'] }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ bundle_product['bundle_id'] }}" />
                    {% endif %}</td>
                    <td class="text-left">{{ bundle_product['bundle_id'] }}</td>
                    <td class="text-left">{{ bundle_product['name'] }}</td>
                    <td class="text-left">{{ bundle_product['valid_from'] }}</td>
                    <td class="text-left">{{ bundle_product['valid_to'] }}</td>
                    <td class="text-right">{{ bundle_product['quantity'] }}</td>
                    <td class="text-left">{{ bundle_product['status'] }}</td>
                    <td class="text-right"><a href="{{ bundle_product['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="7">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}
