{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      <div class="row">

        <table class="table">
            <thead>
              <tr>
                <td>{{ text_image }}</td>
                <td>{{ text_name }}</td>
                <td>{{ text_model }}</td>
                <td>{{ text_price }}</td>
                <td>{{ text_quantity }}</td>
                <td>{{ text_stock }}</td>
                <td>{{ text_option }}</td>
              </tr>
            </thead>
            <tbody>
            {% if products is defined and products %}
              {% for product in products %}
              <tr>
                <td>
                  {% if (product['thumb']) %}
                  <a class="product_image" href="{{ product['href'] }}" title="{{ product['product_name'] }}"><img src="{{ product['thumb'] }}" title="{{ product['product_name'] }}" alt="{{ product['product_name'] }}" /></a>
                  {% endif %}
                </td>
                <td><a href="{{ product['href'] }}">{{ product['product_name'] }}</a></td>
                <td>{{ product['model'] }}</td>
                <td>{{ product['price'] }}</td>
                <td>{{ product['minimum'] }}</td>
                <td>{{ product['stock'] }}</td>
                <td>
                  <div class="product">
                    {% if (product['options']) %}
                    {% for option in product['options'] %}
                    {% if (option['type'] == 'select') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <select name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
                        <option value="">{{ text_select }}</option>
                        {% for option_value in option['product_option_value'] %}
                        <option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
                        {% if (option_value['price']) %}
                        ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                        {% endif %}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'radio') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label">{{ option['name'] }}</label>
                      <div id="input-option{{ option['product_option_id'] }}">
                        {% for option_value in option['product_option_value'] %}
                        <div class="radio">
                          <label>
                            <input type="radio" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
                            {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                          </label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'checkbox') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label">{{ option['name'] }}</label>
                      <div id="input-option{{ option['product_option_id'] }}">
                        {% for option_value in option['product_option_value'] %}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" />
                            {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                          </label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'image') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label">{{ option['name'] }}</label>
                      <div id="input-option{{ option['product_option_id'] }}">
                        {% for option_value in option['product_option_value'] %}
                        <div class="radio">
                          <label>
                            <input type="radio" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]]" value="{{ option_value['product_option_value_id'] }}" />
                            <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="img-thumbnail" /> {{ option_value['name'] }}
                            {% if (option_value['price']) %}
                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                            {% endif %}
                          </label>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'text') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <input type="text" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'textarea') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <textarea name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'file') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label">{{ option['name'] }}</label>
                      <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                      <input type="hidden" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'date') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <div class="input-group date">
                        <input type="text" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                        </span></div>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'datetime') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <div class="input-group datetime">
                        <input type="text" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                        </span></div>
                    </div>
                    {% endif %}
                    {% if (option['type'] == 'time') %}
                    <div class="form-group{{ option['required'] ? ' required' : '' }}">
                      <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                      <div class="input-group time">
                        <input type="text" name="product[{{ product['product_id'] }}][option][{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                        </span></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group hide">
                      <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                      <input type="text" name="product[{{ product['product_id'] }}][quantity]" value="{{ product['minimum'] }}" size="2" id="input-quantity" class="form-control" />
                      <input type="hidden" name="product[{{ product['product_id'] }}][product_id]" value="{{ product['product_id'] }}" />
                      <br />
                      <button type="button" class="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                    </div>
                  </div>

                </td>
                </tr>
              {% endfor %}
              {% else %}
                  <td colspan="7" class="text-center">{{ text_not_found }}</td>
              {% endif %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <div class="form-group">
                    <div class="col-sm-2">
                    <button type="button" id="bundle-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                    </div>
                    <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="clear-cart">{{ button_clear_cart }}</button>
                    </div>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>


      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script>

<script type="text/javascript"><!--
$('#bundle-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/addBundle&bundle_id={{ bundle_id }}',
    type: 'post',
    data: $('.product input[type=\'text\'], .product input[type=\'hidden\'], .product input[type=\'radio\']:checked, .product input[type=\'checkbox\']:checked, .product select, .product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#bundle-cart').button('loading');
    },
    complete: function() {
      $('#bundle-cart').button('reset');
    },
    success: function(json) {
      $('.alert, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      for(j in json) {
        if (json[j]['error']) {
          if (json[j]['error']['option']) {
              for (i in json[j]['error']['option']) {
                var element = $('#input-option' + i.replace('_', '-'));

                if (element.parent().hasClass('input-group')) {
                  element.parent().after('<div class="text-danger">' + json[j]['error']['option'][i] + '</div>');
                } else {
                  element.after('<div class="text-danger">' + json[j]['error']['option'][i] + '</div>');
                }
              }

          }

          if (json[j]['error']['recurring']) {
            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json[j]['error']['recurring'] + '</div>');
          }

          // Highlight any found errors
          $('.text-danger').parent().addClass('has-error');
        }
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<i class="fa fa-shopping-cart"></i> ' + json['total']);

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script>
<script type="text/javascript"><!--

$('.date').datetimepicker({
  pickTime: false
});

$('.datetime').datetimepicker({
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').attr('value', json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script>

<script type="text/javascript">//This is used for clear the cart

  $('#clear-cart').on('click',function(){
    $.ajax({
        url: 'index.php?route=extension/module/wk_bundle_product/cartRemove',
        dataType: 'json',
        beforeSend: function() {
          $('#cart > button').button('loading');
        },
        complete: function() {
          $('#cart > button').button('reset');
        },
        success: function(json) {

          $('.close').trigger('click');
          // Need to set timeout otherwise it wont update the total
          setTimeout(function () {
            $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
          },10);

          if (getURLVar('route') == 'bundle/bundle') {
            window.location.reload();
          }
          if (getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') {
            location = 'index.php?route=checkout/cart';
          } else {
            $('#cart > ul').load('index.php?route=common/cart/info ul li');
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
  });
</script>
{{ footer }}
