{{ header }}
<style type="text/css">
  .bundle-sign {
    display: inline-block;
    margin: 40px 13px 0 13px;
  }
  .bundle-product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 164px;
  }
  .del_mark {
    color: #EB5434;
    font-size: 12px;
    font-weight: bold;
  }
  .bundle_total_price {
    font-size: 20px;
  }

</style>
{% set class = 'col-sm-12' %}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>

  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
    {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="{{ class }}">
      <div class="panel panel-default" id="main-panel">
        <div class="panel-heading"><b>{{ bundle_page_title }}</b></div>
        <div class="panel-body">
        {% if (bundle_page_description is not empty) %}
          <div class="panel panel-default">
              <div class="panel-body">
                <p>{{ bundle_page_description }}</p>
              </div>
          </div>
        {% endif %}

          {% for bundles in bundle_products %}
          <div class="panel panel-default">
            <div class="panel-heading"><b>{{ bundles['name'] }}</b></div>
            <div class="panel-body">
           {% for bundle in bundles['bundles'] %}
          <div class="bundle-product">
            <div class="product-thumb">
              <div class="text-center">
                {% if (bundle['minimum'] is defined and bundle['minimum'] > 1) %}
                <span class="bundle_quantity">{{ bundle['minimum'] }}x</span>
                {% endif %}
                <a href="{{ bundle['href'] }}">
                 {% if (bundle['thumb']) %}
                  <img src="{{ bundle['thumb'] }}" alt="{{ bundle['name'] }}"
                  title="{{ bundle['name'] }}" class="bundle-thumb"/>
                {% endif %}
                </a>
                <p>
                  <a href="{{ bundle['href'] }}">{{ bundle['name'] }}</a>
                </p>
                {% if (bundle['price']) %}
                  <p>
                    {{ bundle['price'] }}
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="bundle-sign">
            {% if (bundles['bundles']|last != bundle) %}
            <h1>+</h1>
            {% else %}
            <h1>=</h1>
            {% endif %}
          </div>
          {% endfor %}
          <div class="bundle-product">
            <div class="product-thumb">
              <div class="text-center">
                <div class="bundle-thumb">
                {% if (bundles['units_status'] is defined and bundles['units_status']) %}

                    <span class="bundle_units">Available Unit(s): {{ bundles['units'] }}</span>

                {% endif %}

                    <span class="bundle_total_price">{{ text_price }}</span>
                    <span class="bundle_total_price">{{ bundles['price'] }}</span>
                    {% if (bundles['check_discount']) %}
                    <span class="bundle_total_price"><del class="del_mark">{{ bundles['total_price'] }}</del></span>
                  {% endif %}

                  {% if (bundles['discount_option']) %}
                  <div>
                    <span class="bundle_discount">{{ text_save }}{{ bundles['save_price'] }}</span>
                  </div>
                  {% else %}
                  <div>
                    <span class="bundle_discount">{{ text_save }}{{ bundles['save_price'] }}</span>
                  </div>
                  {% endif %}

                  <div style="margin-bottom:5px;">
                  <a href="{{ bundles['bundle_href'] }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div><!--end of main panel body-->
        </div><!--end of main panel-->

      </div>

      </div>
    </div>
{{ footer }}
